version: '3.8'

services:
  tg-bot:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: wc-tg-bot
    restart: unless-stopped
    volumes:
      - bot_data:/app/data
    environment:
      - PYTHONUNBUFFERED=1
    env_file:
      - .env
    working_dir: /app

volumes:
  bot_data:
    driver: local